@media (max-width: 1990px){

}
@media (max-width: 1500px){
    .slider_logo_img img{
        width: 1500px !important;
    }
}
@media (max-width: 1350px){
    .slider_logo_img img{
        width: 1350px !important;
    }
}
@media (max-width: 1300px){
    .slider_logo_img img{
        width: 1300px !important;
    }
}
@media (max-width: 1250px){
    .slider_logo_img img{
        width: 1250px !important;
    }

}
@media(min-width: 850px) and (max-width: 1050px)
{

}
@media (max-width: 991px){

}
@media(min-width: 768px) and (max-width: 900px)
{


}
@media(min-width: 768px) and (max-width: 991px){


}
@media (max-width: 767px){

}

@media (max-width: 600px)
{

}

@media(max-width: 400px){

}
@media(max-width: 350px){

}
