@media (max-width: 1990px){
    .footer_grid_col {
        margin-top: 16rem;
    }
}
@media (max-width: 1500px){
    .slider_logo_img img{
        width: 1500px !important;
    }
}
@media (max-width: 1350px){
    .slider_logo_img img{
        width: 1350px !important;
    }
    .footer_grid_col {
        margin-top: 11rem;
    }
}
@media (max-width: 1300px){
    .slider_logo_img img{
        width: 1300px !important;
    }
}
@media (max-width: 1250px){
    .slider_logo_img img{
        width: 1250px !important;
    }
}
@media (max-width: 1199px){
    .service_inner_title {
        font-size: 11px;
        padding: .7rem 5px;
    }
    .home_odoo_tour iframe {
        width: 310px;
    }
}
@media(min-width: 768px) and (max-width: 1000px)
{
    .home_header_content h1 {
        font-size: 22px;
    }
    .badailtech_header_indicators {
        bottom: 100px;
    }
    .home_header_content p {
        margin-top: 0rem;
    }
    .badailtech_header_indicators{
        left: 0px;
    }
}
@media (max-width: 991px){
    html[data-view-xmlid="sah_badailtech.badailtech_home_page"] #top_menu_collapse {
        background: #fff;
    }
   html[data-view-xmlid="sah_badailtech.badailtech_home_page"] #top nav.pages_nav .nav-item .nav-link, html[data-view-xmlid="sah_badailtech.badailtech_home_page"] .langs_dropdown p, html[data-view-xmlid="sah_badailtech.badailtech_home_page"] .choose_lang i{
        color: #000 !important;
    }
    .total_pages .nav-item.dropdown:last-child {
        position: unset;
        right: unset;
    }
    .langs_dropdown_container{
        text-align: left !important;
        padding: 0 15px;
    }
    .home_service_list{
        height: 180px;
    }
    .home_odoo_tour iframe {
        width: 100%;
        height: 400px;
        margin: 15px 0;
    }
    .footer_logo_img p{
        padding-right: 30px;
    }
}
@media (max-width: 767px){
    .home_header_content h1 {
        font-size: 20px;
    }
   .badailtech_header_indicators {
        bottom: 90px;
    }
    .home_header_content p {
        margin-top: 0rem;
        font-size: 12px;
    }
    .home_header_content {
        width: 50%;
    }
    .badailtech_header_indicators{
        left: 0px;
    }
    section.oe_structure.home_service.mt-5 {
        margin-top: 100px !important;
    }
    .service_inner_title{
        position: absolute;
        top: -1250px;
    }
    .home_service_list_after:after{
        left: 0;
    }
    .home_service_title_after:after
    {
        left: -36px;
    }
    li.home_service_list.home_service_list_after {
        padding-left: 2rem;
    }
    .service_inner_title{
        width: 90%;
        font-size: 13px;
    }
    .footer_grid_col {
        margin-top: 0rem;
    }
    .footer_logo_img {
        margin-top: 12rem;
    }
}

@media (max-width: 600px)
{
    .badailtech_header_indicators {
        bottom: 60px;
    }
    .home_header_content{
        top: 20%;
    }
   .home_header_content p {
        font-size: 10px;
    }
    .home_company_chosen_content h5{
        font-size: 17px;
    }
    .home_company_chosen_content{
        font-size: 11px;
    }
    li.tab-head-item {
        width: 25%;
    }
    .mission_content {
        padding: 20px 40px 23px 40px;
    }
    .contact_information iframe {
        width: 430px;
    }
}

@media(max-width: 450px){
    .badailtech_header_indicators li {
        width: 10px;
    }
    .home_header_content {
        width: 80%;
    }
    .badailtech_header_indicators {
        bottom: 0px;
    }
    .home_header_content {
        top: 25%;
    }
    .service_inner_title{
        top: -1085px;
    }
    .home_header_content p {
        font-size: 11px;
    }
    .home_service_list {
        height: 150px;
    }
    .home_service_title{
        font-size: 17px;
    }
    .home_service_title_text {
        font-size: 12px;
    }
    .home_odoo_tour_container p {
        width: 90%;
    }
    .mission_content {
        padding: 20px 10px 23px 10px;
    }
    .odoo_app_details h5{
        font-size: 14px;
    }
    .odoo_app_details p {
        font-size: 9px;
    }
    .title_head_contain p {
        font-size: 20px;
    }
    .contact_information iframe {
        width: 380px;
    }
}
@media(max-width: 400px){
    .home_company_chosen_content h5{
        font-size: 13px;
    }
    .home_company_chosen_content p{
        font-size: 10px;
    }
     .contact_information iframe {
        width: 305px;
    }
}
