/*
#wrapwrap *{
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}*/
#wrapwrap{
    overflow-x: hidden;
}
body{
  min-height: 100%;
  overflow-x: hidden;
}
body, #wrapwrap h1, #wrapwrap h2, #wrapwrap h3, #wrapwrap h4, #wrapwrap h5, #wrapwrap a, #wrapwrap span{
  font-family: 'Roboto', sans-serif;
}
#wrapwrap p, #wrapwrap div, #wrapwrap table, #wrapwrap tr, #wrapwrap td
{
  font-family: 'Roboto', sans-serif;
}
html
{
  height: 100%;
}
html[data-view-xmlid="sah_badailtech.badailtech_home_page"] #top nav.pages_nav{
    position: absolute;
    width: 100%;
    background: unset;
}
html[data-view-xmlid="sah_badailtech.badailtech_home_page"] #top nav.pages_nav .nav-item .nav-link{
    color: #fff !important;
}
#top nav.pages_nav{
    box-shadow: 0 1.5px 30px 0 rgba(136, 84, 115, 0.05);
    position: relative;
    width: 100%;
    background: #fff;
}
#top nav.pages_nav .nav-item .nav-link{
    color: #000 !important;
}
#top_menu_collapse{
    /*position: absolute;
    right: 115px;*/
}
.home_consultation_btn:hover{
    border: 1px solid #fff;
    background: transparent !important;
    color: #fff !important;
}
header .navbar-brand, header .navbar-brand.logo{
    margin-right: 5.5rem !important;
}
/*header, .o_header_affixed
{
  background-color: #222222 !important;
}*/
.o_header_affixed .pages_nav{
    box-shadow: 0 1.5px 30px 0 rgba(136, 84, 115, 0.2) !important;
    background: rgb(15, 66, 104, 93%);
}
.o_header_affixed .headr_contact_bg{
    display:none;
}
footer{
    background: #fff;
}
p{
  font-size: 14px;
  color: #818387;
  line-height: 1.8;
}
li.contact_information_social_icons {
    list-style: none;
    display: inline-block;
    padding: 1px 5px;
    background: #fff;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}
.contact_information_social_icons a {
    color: #143d3f !important;
}
.business_hours p{
    color: #fff;
}
/*nav*/
a.logo{
  padding: .719rem 0 !important;
  margin-right: .5rem;
}
a.logo img{
  max-width:130px;
}
.slick-slide{
outline:0;
}
.head-callus{
   margin-right: 1rem;
}
.head-callus .icon_nav{
    padding: 0 0.3rem;
}
.o_header_affixed .total_pages a.nav-link.dropdown-toggle{
    padding-right: 2rem !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.total_pages a.nav-link.active, .nav-pills .nav-link.active{
    background-color: unset !important;
}
/*.total_pages a.nav-link:hover span,.total_pages a.nav-link.active span
{
    border-bottom: 2px solid;
}*/
.total_pages a.nav-link
{
    padding: 1rem .9rem !important;
    color: #fff !important;
    font-size: 15px !important;
    font-weight: 300;
    line-height: 0.9;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}
.o_header_affixed .total_pages a.nav-link
{
    padding: 1rem 1rem !important;
}
.total_pages .nav-item.dropdown:last-child{
    position: absolute;
    right: 270px;
}
nav .navbar-nav .nav-item .dropdown-menu{
    border-radius: 0;
    padding: .5rem 0 .3rem !important;
}
nav .navbar-nav .nav-item .dropdown-menu a.dropdown-item {
    font-size: 12px;
    color: #b8b8b8;
    line-height: 15px;
    display: inline-block;
    vertical-align: top;
    background: none;
    font-weight: 400;
    padding: 10px 15px;
    margin: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a.menu_lang_pages[data-url_code="en"]{
    color: #7b7b7b !important;
}
.lang_cut{
    color: #7b7b7b !important;
}
.menu_lang_pages{
    color: #02a69d;
    text-decoration: none !important;
}
nav .navbar-nav .nav-item .dropdown-menu a.dropdown-item:hover{
    color: #45a79d;
}
/* header*/
.headr_contact_bg{
    background-color: #dedfdf;
  }
.pages_nav{
  clear: both;
}
.headr_contact_list{
  list-style: none;
  display: inline-block;
  padding: 7px 25px 7px 0;
}
.top_header_lang{
    width: 14px;
    height: auto;
    margin-right: 5px;
}
.headr_login_list{
  list-style: none;
  display: inline-block;
  padding: 7px 20px;
}
.headr_login_list a, .headr_contact_list a{
  cursor: pointer;
}
.headr_login_list i,.headr_login_list a,.headr_contact_list a{
  color: #000 !important;
  font-size: 12px;
  text-decoration: none;
  line-height: 1;
  padding: 0 !important;
}
.headr_contact_list i, .choose_lang i{
    color: #00599d;
    font-size: 16px;
}
.headr_login_list_border{
  position: relative;
}
.headr_login_list_dropdown .headr_login_list_dropdown_active  {
    border: none;
    background-color: #2e2f2f !important;
}
.dropdown-menu.show
{
    border-radius: 0;
    margin-top: .8rem;
}
.dropdown-menu.show .headr_login_list_dropdown_items, .headr_login_list_dropdown_items.js_usermenu a.dropdown-item{
    color: #2e2f2f !important;
    padding: .5rem 1rem !important;
    font-weight: 600;
}
/*footer*/
.footer_pages_bg{
    background-image: url("../img/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
.footer_services{
    margin-top: 1rem;
    color: #ffffff;
    padding: 1rem 0;
    background-color: #152121;
}
.o_footer{
    background: #fff !important;
}
.footer_copyrights{
  background-color: #101717;
}
.footer_grid_col{
    margin-top: 11rem;
}
.footer_links{
  position: relative;
  font-weight: bold;
  color: #28bcc3;
  font-size: 17px;
  padding-bottom: 5px;

}
li.footer_list_links{
    padding: 0rem 0 2.3rem;
}
.footer_logo_img img{
    width: 30%;
    margin: .9rem 0;
}
.footer_logo_img p
{
    color: #fff;
    width: 100%;
    font-size: 16px;
    text-align: justify;
    padding-right: 70px;
}
.footer_description{
  margin-top: 2.5rem;
}
.footer_page_contact
{
    line-height: 1.5;
    color: #fff !important;
    font-size: 14px;
    float: left;
    max-width: 80%;
}
.footer_page{
  line-height: 2.43;
  color:  #fff !important;
  font-size: 14px;
  margin: 0;
  z-index: 99999999;
}
a.footer_page:hover {
    color: #fff;
    text-decoration: none;
  }
.footer_copyright_contain{
  color: #484e4e;
  font-size: 14px;
}
ul.social_icons{
  margin: 0px;
}
.icon_link{
  cursor: pointer;
}
.icon_link i:before{
  margin: 0px;
}
.icon_footer_support{
    float: left;
    color: #fff;
    margin: .19rem 1rem .5rem 0;
    clear: both;
}
.social_img_footer{
    width: 50%;
}
/*footer*/
/************** Home page ***********************/
.home_header_bg{
    background-image: url('../img/banner.png');
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: cover;
}
.home_header_content {
    color: rgb(255, 255, 255);
    width: 32%;
    position: absolute;
    top: 30%;
    left: 10%;
}
.home_header_content h1{
    font-size: 37px;
    font-weight: 800;
}
.home_header_content p{
    color: #fff;
    margin-top: 2rem;
    text-align: justify;
}
.slider_logo_img {
    position: relative;
}
.badailtech_header_indicators{
    position: absolute;
    right: unset;
    bottom: 80px;
    left: 70px;
}
.badailtech_header_indicators li
{
    border-radius: 5px !important;
    width: 30px;
    height: 5px;
    border: none;
}
.badailtech_header_indicators li.active
{
    background-color: #02a69d !important;
}
.badailtech_header_indicators li
{
    background-color: #d1d2d4;
    opacity: 1;
}
.home_service_list{
    list-style: none;
    height: 230px;
    position: relative;
}
.home_service_list_after:after{
    position: absolute;
    content: "";
    top: 10px;
    right: 0;
    width: 10px;
    height: 10px;
    background: #45a79d;
    border-radius: 50%;
}
.home_service_list_before:before{
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #45a79d;
    border-radius: 50%;
}
.home_service_title{
    color: #02a69d;
    position: relative;
    font-size: 19px;
}
.home_service_title_after:after{
    position: absolute;
    content: "";
    top: 6px;
    right: -4px;
    width: 18px;
    height: 18px;
    border: 2px solid #45a79d;
    border-radius: 50%;
}
.home_service_title_before:before{
    position: absolute;
    content: "";
    top: 6px;
    left: -36px;
    width: 18px;
    height: 18px;
    border: 2px solid #45a79d;
    border-radius: 50%;
}
li.home_service_list.home_service_list_before {
    padding-left: 2rem;
}
.home_service_title_text{
    font-size: 13px;
    color: #d1d2d4;
    text-align: justify;
    padding-right: 45px;
}
.service_inner_title{
    font-size: 17px;
    color: #ffffff;
    margin-top: 465px;
    width: 100%;
    background: #028d85;
    padding: .7rem 1rem;
    border-radius: 25px;
}
.home_odoo_tour{
    background-image: url(../img/odoo_tour_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 3rem 0 5rem;
}
.home_customer{
    background-image: url(../img/our_customer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 3rem 0 5rem;
    margin-bottom: 3rem;
}
.home_odoo_tour_container h3, .home_ques_title{
    color: #45a79d;
    margin-bottom: 2rem;
}
.home_odoo_tour_container p
{
    width: 50%;
    margin: auto;
    color: #313131;
    margin-bottom: 3rem;
}
p.home_company_chosen{
    width: 100%;
    margin: unset;
    color: #d1d2d4;
    margin-bottom: 3rem;
}
.home_company_chosen_img
{
    background: #02a69d;
    width: 60px;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 2rem;
    height: 70px;
}
.home_company_chosen_content h5
{
    color: #054340;
    margin: 20px 0;
}
.home_company_chosen_content span, .home_company_chosen_content p{
  color: #b8b8b8;
  text-align: justify;
}
.odoo_customer_slider_txt {
    font-size: 13px;
    color: #4f4f4f;
    margin-top: 1rem
}
.odoo_customer_slider_img_container{
    width: 70px;
    margin: auto;
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 12px;
    height: 85px;
}
.odoo_customer_slider .owl-dots
{
    display: block !important;
    text-align: center;
}
.odoo_customer_slider .owl-dot
{
    background: #d1d2d4 !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
}
.odoo_customer_slider .owl-dot.active{
    background: #45a79d !important;
}
.why_choose_us_indicators li
{
    border-radius: 5px !important;
    width: 10px;
    height: 10px;
    border: none;
}
.why_choose_us_indicators li.active
{
    background-color: #02a69d !important;
    position:relative;
}
.why_choose_us_indicators li.active:after
{
    position: absolute;
    content: "";
    bottom: -4px;
    right: -4px;
    width: 18px;
    height: 18px;
    border: 2px solid #45a79d;
    border-radius: 50%;
}
.why_choose_us_indicators li
{
    background-color: #d1d2d4;
    opacity: 1;
}
/****************************/
.contact_us_page, .about_us_page, .odoo_page{
    margin-top: 3rem;
}
input.form-control.o_website_form_input.custom_contact_us_form {
    border-color: #d1d2d4;
    border-radius: 13px;
}
input.form-control.o_website_form_input.custom_contact_us_form:focus{
    border-color: #02a69d !important;
}
.title_head_contain h3{
    color: #02a69d;
    padding-bottom: 10px;
    position: relative;
}
.title_head_contain h3:after{
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0;
    width: 85px;
    height: 3px;
    background: #45a79d;
}
.title_head_contain p{
    color: #000000;
    font-size: 27px;
    line-height: 1.2;
    width: 90%;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 500;
}
.contact_us_form_inputs label{
    font-weight: 400;
    font-size: 14px;
}
button.o_website_form_send.contact_form_btn {
    background: #02a69d;
    width: 100%;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;

}
ul.contact_information_list {
    list-style: none;
    margin-top: 2rem;
    padding: 0;
}
li.contact_information_item {
    padding: 5px 0;
}
.contact_information_item a{
    color: #7b7b7b !important;
}
.contact_information_item p{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.lang_cut:last-child{
    display: none;
}
/******* about us *******************/
.about_company_desc{
    color: #000;
    font-size: 19px;
    font-weight: 300;
}
.mark_title h3{
    color: #02a69d;
    padding-bottom: 10px;
    position: relative;
    padding-left: 20px;
}
.mark_title h3:before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    width: 3px;
    height: 40px;
    background: #45a79d;
}
.vision_desc{
    color:#7b7b7b;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.5;
}
.services_page_item_slider{
    border-radius: 15px;
    box-shadow: 0px 0 13px 0 rgb(0 0 0 / 12%);
    background-color: #ffffff;
    padding: 17px;
}
/********** odoo page ***************/
.odoo_company_desc{
    color: #000 !important;
    font-size: 14px !important;
    font-weight: 400!important;
}
h5.odoo_coloer_title {
    color: #45a79d;
    margin-top: 20px;
}
.odoo_title_details
{
    color: #000 !important;
    text-transform: capitalize;
}
.odoo_desc_details{
    padding-left: 20px;
    margin-top: 1rem;
}
/*.odoo_app_title:after{
    left: 44% !important;
}*/
.odoo_app_content{
    border-radius: 25px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 2rem;
    min-height: 200px;
}
.odoo_app_list_img{
    width: 19%;
    float: left;
    margin-right: 2rem;
    border-radius: 7px;
    margin-bottom: 5rem;
}
.odoo_app_details h5{
    text-transform: uppercase;
    font-size: 18px;
}
.odoo_app_details p {
    font-size: 12px;
}
.mission_container{
    background-image: url(../img/mission_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 2rem;
}
.mission_container_img{
    float: left;
    width: 50px;
}
.mission_container_img img{
    width: 60%;
    z-index: 9999;
    display: block;
}
.mission_content{
    padding: 20px 135.2px 23px 40px;
    border-radius: 33px;
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
    background-color: rgb(255 255 255 / 39%);
}
.mission_container_details p{
    color: #fff;
}
/**********blog page ********************/
.blog_list_container a.blog-list-item-image{
    float: left;
    width: 20%;
    margin-right: 20px;
}
.latest_blog_list a.blog-list-item-image{
    float: left;
    width: 30%;
    margin-right: 20px;
}
.latest_blog_container{
    margin-bottom: 1.3rem;
}
p.home_latset_news_grid_text {
    height: 100px;
    overflow: hidden;
    display: block;
}
.news_grid_subtitle
{
    font-size: 13px;
}
.blog_details_btn{
    float: right;
    text-decoration: none !important;
    font-size: 14px;
}
.blog_list_container{
    box-shadow: 0 0.5px 13px 0 rgb(136 126 132 / 22%);
    padding: 1rem;
    border-radius: 10px;
}
.home_latset_news_grid_content a.blog_title_link{
    text-decoration: none !important;
}
.blog_details_bg{
    background-image: url(/sah_badailtech/static/src/css/../img/blog_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 15rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
}
.blog_details_bg_content p{
    font-size: 17px;
    color: #fff;
}
.blog_details_bg_content{
    color: #fff !important;
}
.blog_details_content span.o_field_widget{
    color: #7b7b7b;
    font-size: 15px;
}
.blog_details_page_item_slider{
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 12%) !important;
}
.blog_details_page_item_slider p{
    height: 99px;
    overflow: hidden;
}
/*********** event **************/
.rounded-top .event_img{
    padding: 1rem;
}
.o_wevent_index .o_wevent_events_list.opt_event_list_cards_bg {
    background-color: unset !important;
    color: #212529;
}
.o_wevent_index_topbar_filters .dropdown-toggle{
    border: 1px solid #e3e3e5 !important;
    border-radius: 10px !important;
    color: #e3e3e5 !important;
}
.o_wevent_index_topbar_filters .dropdown-toggle .fa{
     color: #e3e3e5 !important;
}
.oe_search_box{
    border: 1px solid #e3e3e5 !important;
    border-radius: 10px !important;
    color: #e3e3e5 !important;
    padding-left: 42px;
    width: 200px !important;
}
.oe_search_box::placeholder{
    color: #e3e3e5 !important;
}
.o_wevent_event_searchbar_form .input-group-append{
    position: absolute;
}
.oe_search_button{
    color: #f1f0f4 !important;
    background-color: unset !important;
    border: none !important;
}
.event_date_img{
    border-radius: 20px !important;
    background-color: rgba(2, 166, 157, 0.25) !important;
    margin-right: 10px;
    margin-top: 10px;
    color: #fff !important;
}
.event_time_grid{
    color: #7b7b7b;
}
.o_wevent_index_topbar_filters .dropdown-menu .dropdown-item{
    color: #7b7b93 !important;
    font-size: 13px !important;
}
.o_wevent_index_topbar_filters .dropdown-menu .dropdown-item.active{
    background-color: #ffffff !important;
    color: #45a79d !important;
}
.o_wevent_index_topbar_filters .dropdown-item.active .badge{
    background-color: #47adaa !important;
    color: #ffffff !important;
}
.o_wevent_event.js_event .bg-200.mt-n5{
    background-color: #fff !important;
}
.o_wevent_event.js_event .bg-200.mt-n5 .no-gutters .bg-light.shadow-sm  {
    background-color: #FFFFFF !important;
    box-shadow: unset !important;
}
.o_wevent_event.js_event .o_half_screen_height.o_colored_level.o_cc3, .o_wevent_event.js_event .o_half_screen_height.o_colored_level.o_cc3 .oe_black{
    background-color: #FFFFFF !important;
    color: #000000;
}
.o_wevent_event.js_event .o_wevent_event h6.o_wevent_sidebar_title{
    color: #7b7b7b;
    font-size: 19px;
    opacity: 1 !important;
}
.o_wevent_event.js_event .o_wevent_sidebar_block, .o_wevent_event.js_event .o_wevent_sidebar_block span[data-oe-type="datetime"]
{
    color: #7b7b7b;
    font-size: 19px;
    opacity: 1 !important;
}
.o_wevent_event.js_event .o_wevent_sidebar_block .d-flex{
    display: block !important;
}
.o_wevent_event.js_event .o_wevent_sidebar_block h5.my-1.mr-1 {
    color: #d1d2d4;
    font-size: 12px !important;
    display: block;
    width: 100%;
}
.o_wevent_event.js_event .o_wevent_sidebar_block h5.my-1 {
    color: #d1d2d4;
    font-size: 12px !important;
    width: 100%;
    display: block;
}
.o_wevent_event .o_wevent_sidebar_title{
    opacity: 1 !important;
    font-size: 19px !important;
}
.o_wevent_event.js_event .o_wevent_sidebar_block .fa-long-arrow-down.d-block.text-muted.mx-3{
    display: none !important;
}
.o_wevent_event.js_event .o_wevent_sidebar_block .dropdown a, .o_wevent_event.js_event .o_wevent_sidebar_block .dropdown i.fa-calendar, .o_wevent_event.js_event .o_wevent_sidebar_block span, .o_wevent_event.js_event .o_wevent_sidebar_block i, .o_wevent_event.js_event .o_wevent_sidebar_block h4, .o_wevent_event.js_event .o_wevent_sidebar_block a{
    color: #d1d2d4;
    font-size: 14px;
}
.o_wevent_event.js_event .o_wevent_sidebar_block small
{
    color: #d1d2d4 !important;
}
.o_website_event_configuration.o_not_editable{
    color: #47adaa;
    background-color: unset;
    border: none;
}
#o_wevent_event_main_col{
    box-shadow: unset !important;
}
.o_wevent_registration_single .o_wevent_nowrap .w-auto.custom-select{
    border-radius: 5px;
    background-color: rgb(71 173 170 / 19%);
    color: #000;
}
.o_wevent_sidebar_social a.o_wevent_social_link{
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 16%);
    background-color: #ffffff;
}
.o_wevent_sidebar_social a.s_share_facebook i{
    color: #1e76cd !important;
}
.o_wevent_sidebar_social a.s_share_twitter i{
    color: #3eaee2 !important;
}
.o_wevent_sidebar_social a.s_share_linkedin i{
    color: #0e6cc9 !important;
}
.o_wevent_sidebar_social a.s_share_whatsapp i{
    color: #7bb984 !important;
}
.o_wevent_sidebar_social a.s_share_pinterest i{
    color: #ef4832 !important;
}
.o_wevent_sidebar_social a.s_share_email i{
    color: #7c7d7e !important;
}
/********************************/
.o_website_hr_recruitment_jobs_list{
    background-color: #fff !important;
}
#hr_recruitment_form .s_website_form_label_content{
    font-weight: 400;
}
.career_input_cv i
{
    position: absolute;
    right: 28px;
    font-size: 25px;
    top: 6px;
    color: #47adaa;
    z-index: 999;
}
.career_input_cv_span{
    position: absolute;
    left: 13px;
    top: 0px;
    color: #6c757d;
    width: 97% !important;
    cursor: pointer;
}
.career_input_cv #recruitment5{
    opacity: 0;
}
.career_form_send{
    width: 98%;
    margin-left: 12px;
    padding: 0.5rem !important;
    line-height: 1.3;
    border-radius: 8px;
}
.career_job_title{
    color: #000 !important;
    font-size: 20px;
}
.oe_website_jobs .row.pt48.pb48{
    padding-top: 0 !important;
}
.job_short_desc{
    font-size: 12px;
    margin-bottom: 3rem !important;
}
.job_category_career{
    color: #02a69d;
    font-weight: 600;
    margin-bottom: 5px !important;
    display: block;
}
.o_website_hr_recruitment_jobs_list #jobs_grid .card{
    border-bottom: #45a79d;
    border-radius: 10px;
}
.career_position_btn{
    background-color: #02a69d;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5rem 1rem;
    color: #fff !important;
    border-radius: 0 0 5px 5px;
    text-decoration: none !important;
}
.job_desc_career, address .o_force_ltr, address i.fa-map-marker{
    font-size: 14px;
    color: #7b7b7b !important;
    font-weight: 400;
}
.job_benefits_title{
    text-transform: capitalize;
}
.career_list_content
{
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 7%);
    padding: 1rem;
    height: 850px;
}
.career_list_content ul li{
    margin-bottom: 10px;
    font-size: 14px;
}
/**************Tab system *********************/
.tabs_event_news{
    text-align: center;
    width: 50%;
    border-bottom: solid 1px #ded4d4;
    margin: 0 !important;
    padding-bottom: 1.5rem;
    float: left;
    cursor: pointer;
}
.all-tab{
  margin: auto;;
}
.tabs_head{
  padding-bottom: 25px;
}
.tabs_content{
    margin-top: 4rem;
  min-height: 390px;
}
ul.tabs-list
{
    text-align: center;
    padding: 0;
    margin: 0;
}
li.tab-head-item.active{
    border-radius: 10px;
    background-color: #02a69d;
    color: #fff;
}
li.tab-head-item
{
    width: 10%;
    margin-right: 15px !important;
    padding: .5rem;
    float: left;
    cursor: pointer;
    border-radius: 10px;
    border: solid 1px #02a69d;
    background-color: #ffffff;
    color: #02a69d;
}
img.tab_image{
  max-width: 100%;
}
.sah-tab{
  display: none;
}
.sah-tab.active{
  display:block;
}
.tabs_event_news{

}